 
.text-primary{
  color:indigo !important;
}
.bg-primary{
  background:indigo !important;
}
.btn-primary{
  background:indigo !important;
  color:white;
  border:indigo !important;
}
.border-primary{
  color:1px solid indigo !important;
}
.text-light{
  color:rgb(218, 214, 214) !important;
}

input,textarea,select{
border:0px !important;
border-bottom:1px solid indigo !important;
font-size: 17px;
font-family: consolas;
background:transparent !important
}
input:focus,textarea:focus,select:focus{
border-bottom:2px solid indigo !important;
}
.border-none{
  border:none !important
}
:focus-visible {
    outline: none;
}
.fa{
background:transparent !important

}
.rounded-x{
  border-radius:10px;
}