.text-primary{
  color:var(--success) !important;
}
.bg-primary{
  background:var(--success) !important;
}
.btn-primary{
  color:var(--success) !important;
}
.border-primary{
  color:1px solid var(--success) !important;
}
.text-light{
  color:rgb(218, 214, 214) !important;
}

input,textarea{
border:0px !important;
border-bottom:1px solid var(--success) !important;
font-size: 17px;
font-family: consolas;
background:transparent !important
}
input:focus{
border-bottom:2px solid var(--success) !important;
}
.border-none{
  border:none !important
}
:focus-visible {
    outline: none;
}
.fa{
background:transparent !important

}
.rounded-x{
  border-radius:10px;
}
